.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  background-color: rgb(31, 41, 41);
  color: whitesmoke;
}

span{
  font-size: 2rem;
}

input{
  background-color: whitesmoke;
  color: black;
}
